<div
  class="pt-[20px] bg-[#f7f7f7] min-w-[768px] z-2 relative block after:absolute after:top-full after:left-0 after:h-[3px] after:w-full after:bg-[rgba(0, 0, 0, 0.05)]"
>
  <div class="container">
    <div class="grid grid-cols-12">
      <div id="header">
        <div>
          <a href="#">
            <img src="../../../public/img/logo.png" class="max-w-full h-auto align-bottom" alt="" />
          </a>
        </div>
        <div class="utilities">
          <ul>
            <li>
              <a href="/store-locator" title="Tìm cửa hàng" class="px-[1.3rem] relative">
                <img src="../../../public/img/logo.png" class="w-[14px] mr-[11px] align-bottom overflow-clip" alt="" />
                <span class="leading-[17px] text-[#5b5959] static overflow-visible w-auto h-auto">Tìm cửa hàng</span>
              </a>
            </li>
          </ul>
        </div>
        <nav>
          <div></div>
          <div></div>
        </nav>
      </div>
    </div>
  </div>
</div>